@use 'sass:color';
@use 'variables.scss' as vars;

// Mixin to reset default browser styles
// borders, outlines, grey-background etc
@mixin button-reset {
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.csc-button {
  @include button-reset();
  $pad-horizontal: 2.5em;
  $pad-vertical: 0.5em;
  display: inline-block;
  text-align: center;
  padding-top: $pad-vertical - 0.125em;
  padding-right: $pad-horizontal;
  padding-bottom: $pad-vertical;
  padding-left: $pad-horizontal;
  background-color: vars.$maroon;
  color: vars.$text-white;
  transition: background-color 200ms vars.$ease-in-out-curve-function;
  &:hover {
    background-color: color.adjust(vars.$maroon, $lightness: -10%);
  }
  &[disabled] {
    background-color: vars.$dark-grey;
    cursor: default;
  }
}

.success {
  background-color: vars.$green;
  &:hover {
    background-color: color.adjust(vars.$green, $lightness: -5%);
  }
}
