<div class="main-container">
  Updated: 2025/1/28
  <h2>Team Mini Competitions</h2>
  You are tasked with building an online investment platform e.g., QuestTrade A
  portal to manage investments manually or via investment broker / AI.<br />
  You will be using a fake stock market for investments, create and hosted
  explicitly for this contest. <br />
  Do not abuse the API in any way.<br />
  <br />
  <b>January Registration: </b>
  <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSdcszcEIn2MdjfFIhlv1mucCxdnM2Fs0PnSEHreNds1LWt7Rw/viewform"
    >Google Form</a
  >

  <h3>Requirement(s)</h3>
  <ul>
    <li>Users should be able to register an account</li>
    <li>Customers should be able to review stock information</li>
    <li>
      Customers should be able to review portfolio information and notifications
      about owned stocks and markets
    </li>
    <li>
      Customers should be able to add and remove money from their portfolio
    </li>
    <li>
      Customers should be able to choose between a self-managed account (manual
      investing) and an automated account (transactions done by
      AI/someone/something else) when creating their portfolio
    </li>
    <li>
      Customers should be able to purchase and sell stock shares from the funds
      in their portfolio, during active market trading hours
    </li>
  </ul>

  <h3>Notes</h3>
  <ul>
    <li>
      The application must NOT request NOR collect any Personal Identifiable
      Information (PII)* except name, email address.
    </li>
    <li>
      For any questions about what other information may constitute PII, consult
      Nikolas.
    </li>
    <li>
      Extra points for unlisted novel requirements are assigned subject to the
      discretion of the judge(s).
    </li>
  </ul>
  <i
    >PII includes, but is not limited to name, email address, date of birth,
    credit card information, student number, address, phone number, passport
    information, driver's license information etc.</i
  >
</div>
