<div class="main-container">
  <h2>Team Mini Competitions - Web</h2>
  You are tasked with building an online flight booking website. (eg. Expedia) A
  portal to manage airlines/flights, and a front-facing portal for customers to
  book tickets.<br />
  <br />
  <b>November Registration: </b>
  <a href="https://forms.gle/f6Xsu3kW3GtmrW9h6">Google Form</a>

  <h3>Requirement(s)</h3>
  <ul>
    <li>
      Customers should be able to see a list of flights from airport A to
      airport B.
    </li>
    <li>
      Customers should be able to see a list of flights for a selected date.
    </li>
    <li>
      Customers should be able to filter a list of flights by at least 1 other
      criteria. (eg. airlines, price range)
    </li>
    <li>
      Customers should be able to sort a list of flights by at least 1 criteria
      in both ascending and descending order. (eg. travel time, price)
    </li>
    <li>Customers should be able to book a flight with available seats.</li>
    <li>
      Customers should be able to cancel their booked flight at most 24hrs
      before departure.
    </li>
    <li>Customers should be able to see their flight ticket information.</li>
    <li>
      Customers should be able to leave a review for a previous flight they’ve
      went on.
    </li>
    <li>
      (Optional) Customers should be notified by email of a change in flight
      information (eg. postponed, canceled).
    </li>
    <li>Airlines should be able to add new flights.</li>
    <li>Airlines should be able to postpone their registered flights.</li>
    <li>Airlines should be able to cancel their registered flights.</li>
    <li>Users should be able to register a Customer account.</li>
    <li>
      Users should be able to register an Airline account on behalf of an
      airline.
    </li>
  </ul>

  <h3>Notes</h3>
  <ul>
    <li>
      The application must NOT request NOR collect any Personal Identifiable
      Information (PII)* except name, email address.
    </li>
    <li>
      For any questions about what other information may constitute PII, consult
      Gideon or Nikolas.
    </li>
    <li>
      Extra points for unlisted novel requirements are assigned subject to the
      discretion of the judge(s).
    </li>
  </ul>
  <i
    >PII includes, but is not limited to: name, email address, date of birth,
    credit card information, student number, address, phone number, passport
    information, driver’s license information etc.
  </i>
</div>
