@use 'variables.scss' as vars;

.csc-progress-container {
  position: relative;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  color: vars.$text-white;
  &.maroon {
    background-color: rgba(vars.$maroon, 0.5);
    border: 1px solid vars.$maroon;
    .csc-progress-bar {
      background-color: rgba(vars.$maroon, 0.85);
    }
  }
  &.navy {
    background-color: rgba(vars.$navy, 0.5);
    border: 1px solid vars.$navy;
    .csc-progress-bar {
      background-color: rgba(vars.$navy, 0.85);
    }
  }
}

.csc-progress-bar {
  position: absolute;
  height: 100%;
  width: 0%;
  z-index: -1;
}
