<div class="container">
  <p>
    We host several social and educational events throughout the year. Select
    the interested event to learn more and sign up!
  </p>
  <div class="csc-events-upcoming">
    <h3 class="csc-header">Upcoming Events</h3>
    <div class="row" *ngIf="!upcomingEvents.loaded">
      <csc-spinner></csc-spinner>
    </div>
    <div class="grid">
      <csc-event-card
        *ngFor="let event of upcomingEvents.events"
        [event]="event"
      ></csc-event-card>
    </div>
    <div *ngIf="upcomingEvents.events.length === 0 && upcomingEvents.loaded">
      <p>
        There are currently no additional events planned yet for the remainder
        of the month.
      </p>
    </div>
  </div>

  <div class="csc-events-past">
    <h3 class="csc-header">Past Events</h3>
    <div class="csc-events-past-load" *ngIf="!pastEventsLoaded()">
      <a (click)="loadPastEvents()">Show past events</a>
    </div>
    <div *ngIf="pastEventsLoaded()">
      <div class="row" *ngIf="!pastEvents.loaded">
        <csc-spinner></csc-spinner>
      </div>
      <div class="grid">
        <csc-event-card
          *ngFor="let event of pastEvents.events"
          [event]="event"
        ></csc-event-card>
      </div>
      <div *ngIf="pastEvents.events.length === 0 && pastEvents.loaded">
        <p colspan="2">There are no past events to display.</p>
      </div>
    </div>
  </div>
</div>
