@import 'src/variables.scss';

.csc-event-type {
  text-align: center;
  .csc-header {
    margin: 0px;
  }
}

.csc-event-date {
  text-align: right;
  min-width: 110px;
}

.csc-events-past-load a {
  color: $maroon;
  border-bottom: 1px solid $maroon;
  padding-bottom: 5px;
}

a {
  color: $maroon;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}
