img {
  width: 100%;
  height: auto;
  display: aboslute;
  z-index: -1;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 70%
  );
}

.checkout-container {
  justify-self: center;
  margin: 2rem;
  min-width: 20rem;
}

.checkout-main {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
}

.checkout-item {
  margin-top: 1rem;
  font-weight: 900;
}

.checkout-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-gap: 1rem;
}

.checkout-summary {
  margin-top: 1rem;
}

.checkout-info .type {
  color: gray;
}

.checkout-info .value {
  line-height: 70%;
}

.checkout-button {
  margin-top: 1rem;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
