<div class="csc-hero-container">
    <div class="csc-hero-overlay">
        <div class="csc-hero-content container">
                <h3 class="csc-hero-heading-1">WE ARE THE</h3>
                <h1 class="csc-hero-heading-2">Brock Computer Science Club</h1>
                <h3 class="csc-hero-heading-3">Aiming to foster a comunity for individuals at Brock University interested in Computer Science</h3>
        </div>
    </div>
</div>
<div class="row" id="csc-event-promo">
    <div class="csc-event-content container">
        // TODO: Grab event info dynamically <span>🎉</span>
    </div>
</div>
<div class="row" id="csc-about">
    <div class="container">
        <div class="csc-about-desc container">
            <h2>About us</h2>
            <p>We are the Brock Computer Science Club, a local chapter of the ACM.</p>
            <p>Our goal is to provide a community for all individuals who are interested in Computer Science at Brock University.</p>
            <p>Throughout the year, we host and participate in several educational and social events related to Computer Science.</p>
        </div>
    </div>
</div>
