<section id="csc-hero">
    <div class="csc-hero-container">
        <div class="csc-hero-overlay">
            <div class="csc-hero-content container">
                <h3 class="csc-hero-heading-1">WE ARE THE</h3>
                <h1 class="csc-hero-heading-2">Brock Computer Science Club</h1>
                <h3 class="csc-hero-heading-3">Aiming to foster a comunity for individuals at Brock University interested in Computer Science</h3>
            </div>
        </div>
    </div>
</section>
<section id="csc-event-promo">
    <div class="row">
        <div class="csc-event-content container">
            // TODO: Grab event info dynamically <span>🎉</span>
        </div>
    </div>
</section>
<section id="csc-about">
    <div class="row">
        <div class="container">
            <div class="csc-about-desc">
                <h2 class="csc-header">About us</h2>
                <p>We are the Brock Computer Science Club, a local chapter of the ACM.</p>
                <p>Our goal is to provide a community for all individuals who are interested in Computer Science at Brock University.</p>
                <p>Throughout the year, we host and participate in several educational and social events related to Computer
                    Science.
                </p>
            </div>
            <div class="csc-team">
                <h2 class="csc-header">Learn about the team</h2>
                <img src="/assets/csgames.jpg">
            </div>
        </div>
    </div>
</section>
<section id="csc-events">
    <div class="row">
        <div class="container">
            <h2 class="csc-header">Events</h2>
            <div class="csc-events-content">
                <div class="row" *ngFor="let event of events">
                    <div class="col col-left">
                        <i class="material-icons">{{ event.icon }}</i><span class="csc-icon-title">{{ event.title }}</span>
                    </div>
                    <div class="col col-right">
                        <p>{{ event.desc }}</p>
                    </div>
                </div>
            </div>
            <h3 class="csc-header">See more about events</h3>
        </div>
    </div>
</section>
