<section id="csc-hero">
  <div class="csc-hero-container">
    <csc-img-slideshow
      [defaultImage]="images.hero.data"
      [srcs]="homeSlideshowSrcs$ | async"
    ></csc-img-slideshow>
    <div class="csc-hero-overlay">
      <div class="csc-hero-content container">
        <h1 class="csc-hero-heading-2">Brock Computer Science Club</h1>
        <h3 class="csc-hero-heading-3">
          Aiming to foster a community for individuals at Brock University
          interested in Computer Science
        </h3>
        <a routerLink="/gallery" class="csc-header">See gallery</a>
      </div>
    </div>
  </div>
</section>
<section id="csc-events">
  <div class="container">
    <div class="row">
      <h2 class="csc-header">Events</h2>
    </div>
    <div class="row">
      <div class="col-4 upcoming-event" *ngIf="nextEvent !== undefined">
        <span *ngIf="nextEvent === undefined"
          >There aren't any events planned yet. Please check back at a later
          time!</span
        >
        <csc-event-card
          [next]="true"
          [event]="nextEvent"
          imgHeight="330px"
        ></csc-event-card>
      </div>
      <div class="col-8">
        <div *ngFor="let event of events">
          <i class="material-icons">{{ event.icon }}</i
          ><span class="csc-icon-title">{{ event.title }}</span>
          <p>{{ event.desc }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <a routerLink="/events" class="csc-header">See more about events</a>
    </div>
  </div>
</section>
<section id="csc-about">
  <div class="container">
    <h2 class="csc-header">About us</h2>
    <div class="row">
      <div class="col-8 col-m-12">
        <p>
          We are the Brock Computer Science Club, a local chapter of the ACM.
        </p>
        <p>
          Our goal is to provide a community for all individuals who are
          interested in Computer Science at Brock University.
        </p>
        <p>
          Throughout the year, we host and participate in several educational
          and social events related to Computer Science.
        </p>
      </div>
      <div class="col-4 col-m-12">
        <csc-team-preview></csc-team-preview>
      </div>
    </div>
    <div class="row">
      <a routerLink="/team" class="csc-header">Learn about the team</a>
    </div>
  </div>
</section>
<section id="csc-social-feeds">
  <div class="row">
    <div class="container csc-social-container">
      <a
        class="twitter-timeline"
        data-height="450"
        data-theme="light"
        data-chrome="nofooter"
        data-link-color="#AA3B3B"
        href="https://twitter.com/BrockuCSC"
      ></a>
    </div>
  </div>
</section>
<section id="csc-services">
  <div class="row">
    <div class="container">
      <h2 class="csc-header">Services</h2>
      <div class="csc-services-content">
        <div class="row" *ngFor="let service of services">
          <div class="column-left">
            <i class="material-icons">{{ service.icon }}</i
            ><span class="csc-icon-title">{{ service.title }}</span>
          </div>
          <div class="column-right">
            <p>{{ service.desc }}</p>
          </div>
        </div>
      </div>
      <a routerLink="/services" class="csc-header"
        >See more about our services</a
      >
    </div>
  </div>
</section>
<section id="csc-join">
  <div class="row">
    <div class="container">
      <div class="csc-join-container">
        <h2 class="csc-header">Join Us</h2>
        <div class="csc-desc">
          <p>Interested?</p>
          <p>We are always looking for new members!</p>
        </div>
        <a routerLink="/signup"
          ><button csc-button class="csc-sign-up-button">
            Join
          </button></a
        >
      </div>
    </div>
  </div>
</section>
