<a
  class="event-card-wrapper"
  [routerLink]="['/', 'events', event.$key]"
  [class.white-theme]="theme === 'google'"
>
  <mat-card>
    <div
      class="poster"
      mat-card-image
      [style.background-image]="getImage()"
      [style.height]="imgHeight"
    >
      <span class="next-tag" *ngIf="next">UPCOMING EVENT</span>
    </div>
    <mat-card-subtitle>
      {{ event.tentative ? '[TENTATIVE] ' : ''
      }}{{ event.datetime.date | date }},
      {{ event.datetime.timeStartTimestamp | date: 'hh:mm a' }} -
      {{ event.datetime.timeEndTimestamp | date: 'hh:mm a' }}</mat-card-subtitle
    >
    <mat-card-title>{{ event.title }}</mat-card-title>
  </mat-card>
</a>
