$height: 70px;
.csc-nav {
    background-color: rgba(0, 0, 0, 1); //temp
    height: $height;
}

.csc-nav-links {
    margin: 0px;
    float: right;
    padding-left: 0px;
}

.csc-nav-links li {
    padding: 0px 35px;
    &:last-child {
        padding-right: 0px;
    }
}

.csc-nav-links a {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    &.active {
        border-bottom: 1px solid rgba(255, 255, 255, 0.9);
        padding-bottom: 3px;
    }
}

li {
    display: inline;
    line-height: $height;
}

.csc-logo-container {
    height: $height;
    display: inline-block;
    line-height: $height;
}

.csc-logo {
    vertical-align: middle;
}

.csc-join-button {
    $pad-horizontal: 40px;
    $pad-vertical: 8px;

    padding-left: $pad-horizontal;
    padding-right: $pad-horizontal;
    margin-left: 50px;
    padding-top: $pad-vertical - 2; // Height for font has 2 extra pixels on top.
    padding-bottom: $pad-vertical;
}

.container {
    height: inherit;
}
