$height: 4.375rem;
$nav-links-font-size: 1.125rem;
$nav-links-margin: 4.5em;

.csc-nav {
    height: $height;
    position: relative;
    z-index: 1;
}

.csc-nav-links {
    position: relative;
    margin: 0;
    float: right;
    top: 50%;
    transform: translateY(-50%);
}

.csc-nav-links > a {
    font-size: $nav-links-font-size;
    color: rgba(255, 255, 255, 0.9);
    margin-right: $nav-links-margin;
    &:last-child {
        margin-right: 0px;
    }
}

.csc-logo-container {
    height: $height;
    display: inline-block;
    line-height: $height;
}

.csc-logo {
    vertical-align: middle;
}

.csc-join-button {
    $pad-horizontal: 2.5em;
    $pad-vertical: 0.5em;

    margin-left: 3.125rem;
    // Height for font has 2 extra pixels on top.
    padding-top: $pad-vertical - 0.125em;
    padding-right: $pad-horizontal;
    padding-bottom: $pad-vertical;
    padding-left: $pad-horizontal;
}

.container {
    height: inherit;
    padding: 1.25em;
}
