<div class="csc-nav" [ngClass]="{'navy-background' : changeBackground()}">
    <div class="container">
        <div class="csc-logo-container">
            <a routerLink="/home"><img class="csc-logo" width="75px" height="56px" src="assets/logo.svg" alt="Brock Computer Science Club Logo"></a>
        </div>
        <button csc-button class="csc-join-button">Join</button>
        <nav class="csc-nav-links">
            <a csc-link title="Team">Team</a>
            <a csc-link title="Events">Events</a>
            <a csc-link title="Services">Services</a>
            <a csc-link title="Contact">Contact</a>
        </nav>
    </div>
</div>
