<div class="csc-nav" [ngClass]="{'white-background' : changeToWhiteNav()}">
    <div class="container csc-nav-desktop">
        <div class="csc-logo-container">
            <a routerLink="/home"><img class="csc-logo" width="75px" height="56px" [src]="logoSrc" alt="Brock Computer Science Club Logo"></a>
        </div>
        <button csc-button class="csc-join-button">Join</button>
        <nav class="csc-nav-links" [ngClass]="{'black-links' : changeToWhiteNav()}">
            <a *ngFor="let link of links" [routerLink]="link.href" [csclink]="link.colour" [title]="link.desc">{{ link.desc }}</a>
            <a *ngIf="linkAdmin.visible" [routerLink]="linkAdmin.href" [csclink]="linkAdmin.colour" [title]="linkAdmin.desc">{{ linkAdmin.desc }}</a>
            <a *ngIf="linkLogout.visible" [routerLink]="linkLogout.href" [csclink]="linkLogout.colour" [title]="linkLogout.desc">{{ linkLogout.desc }}</a>
        </nav>
    </div>
    <div class="container csc-nav-mobile">
        <div class="csc-nav-menu">
            <button class="hamburger hamburger--3dx" type="button" (click)="toggleOverlayMenu()" [ngClass]="{'is-active' : showOverlay}">
                <span class="hamburger-box">
                    <span class="hamburger-inner" [ngClass]="{'hamburger-black': !showOverlay && changeToWhiteNav()}"></span>
                </span>
            </button>
        </div>
        <div #navOverlay class="nav-overlay container" [ngClass]="{'nav-overlay-open' : showOverlay}">
            <div class="nav-overlay-content">
                <a routerLink="/home" (click)="toggleOverlayMenu()">Home</a>
                <a *ngFor="let link of links" [routerLink]="link.href" (click)="toggleOverlayMenu()" [title]="link.desc">{{ link.desc }}</a>
            </div>
        </div>
        <div class="csc-logo-container">
            <a routerLink="/home"><img class="csc-logo" width="75px" height="56px" [src]="logoSrc" alt="Brock Computer Science Club Logo"></a>
        </div>
    </div>
</div>
