@import 'src/variables.scss';

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

button:hover {
  background-color: maroon;
}

button {
  font-weight: bold;

  border: 0px;
  padding: 20px 30px;
  background-color: $maroon;
  color: white;
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
}

.grid img {
  width: 80%;
}

.csc-merch-submit {
  width: 100%;
  i {
    vertical-align: bottom;
  }
}
