<div>
  <div id="promo">
    <video id="video" loop muted autoplay (click)="toggleMute()">
      <source src="app/../assets/merch/2025/merch.mp4" />
    </video>
    <button (click)="buynow(grid)" clickable>Buy Today!</button>
  </div>
  <div class="product-section">
    <div #grid class="product-container" id="grid">
      <div class="product-display">
        <div class="product-image">
          <img id="image" src="app/../assets/merch/2025/black-m.png" />
        </div>
        <div class="thumbnail-container">
          <div class="thumbnail-gallery">
            <div
              class="thumbnail"
              (click)="selectImage('black-m')"
              data-image-key="black-m"
            >
              <img
                src="app/../assets/merch/2025/black-m.png"
                alt="Black Male Hoodie"
              />
            </div>
            <div
              class="thumbnail"
              (click)="selectImage('black-f')"
              data-image-key="black-f"
            >
              <img
                src="app/../assets/merch/2025/black-f.png"
                alt="Black Female Hoodie"
              />
            </div>
            <div
              class="thumbnail"
              (click)="selectImage('white-m')"
              data-image-key="white-m"
            >
              <img
                src="app/../assets/merch/2025/white-m.png"
                alt="White Male Hoodie"
              />
            </div>
            <div
              class="thumbnail"
              (click)="selectImage('white-f')"
              data-image-key="white-f"
            >
              <img
                src="app/../assets/merch/2025/white-f.png"
                alt="White Female Hoodie"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="product-details">
        <h2>CSC 2025 Hoodie</h2>
        <p class="price">$45.00</p>
        <div class="color-selector">
          <csc-input-container class="col-12" label="Color" labelLocation="top">
            <select (change)="changeColor($event.target.value)">
              <option value="Black">Black</option>
              <option value="White">White</option>
            </select>
          </csc-input-container>
        </div>
        <div class="order-button-container">
          <button (click)="onStripeClick()" class="order-button">
            Order Now
          </button>
        </div>
        <div class="legacy-button-container">
          <a href="/legacy-merch" class="legacy-button">View 2024 Merch</a>
        </div>
      </div>
    </div>
  </div>
</div>
