$tooltip-background-color: #3F3F3F;
$tooltip-font-size: 13px;

.tooltip {
    opacity: 0;
    background-color: $tooltip-background-color;
    padding: 20px;
    font-size: $tooltip-font-size;
    margin: 1rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    transition: opacity 200ms ease-in-out;
    will-change: opacity;
}

// Base styles for arrow.
// Arrow direction handled in tooltip.component.ts
.tooltip-arrow {
    position: absolute;
    margin-top: -5px;
    width: 0;
    height: 0;
}
