@import 'src/variables.scss';
$border: 1px solid $dark-grey;
.csc-contact {
  display: flex;
  max-width: 800px;
  margin: 50px auto;
  > div,
  > form {
    border: 1px solid $dark-grey;
    padding: 15px;
  }
  @media #{$mobile} {
    margin-top: 15px;
  }
}

.csc-contact-form {
  background-color: $light-grey;
}

.csc-contact-info {
  background-color: $maroon;
  color: $text-white;
  p {
    margin: 0px;
  }
  .csc-info {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &.mobile {
    margin-top: 50px;
  }
}

.csc-contact-submit {
  width: 100%;
  i {
    vertical-align: bottom;
  }
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
