@use 'variables.scss' as vars;

$border: 1px solid vars.$dark-grey;

.csc-contact {
  display: flex;
  max-width: 800px;
  margin: 50px auto;
  > div,
  > form {
    border: 1px solid vars.$dark-grey;
    padding: 15px;
  }
  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  @media #{vars.$mobile} {
    margin-top: 15px;
  }
}

.csc-contact-form {
  background-color: vars.$light-grey;
}

.csc-contact-info {
  background-color: vars.$maroon;
  color: vars.$text-white;
  p {
    margin: 0px;
  }
  .csc-info {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &.mobile {
    margin-top: 50px;
  }
}

.csc-contact-submit {
  width: 100%;
  i {
    vertical-align: bottom;
  }
}
