<div id="csc-admin-container">
    <div class="row">
        <div class="container">
            <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
                Title: <input type="text" formControlName="title"><br>
                Presenter: <input type="text" formControlName="presenter"><br>
                Description: <input type="text" formControlName="description"><br>
                Date: <input type="text" formControlName="date"><br>
                Time: <input type="text" formControlName="time"><br>
                Location: <input type="text" formControlName="location"><br>
                <div class="csc-event-upload-resources">
                    <csc-upload formControlName="resources"></csc-upload>
                </div>
                <div class="csc-event-upload-image">
                    <csc-upload formControlName="image"></csc-upload>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
