<div id="csc-admin-container">
    <div class="row">
        <div class="container">
            <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <csc-input-container class="col-12" label="Title" labelLocation="top">
                        <input class="csc-input" type="text" placeholder="Title of the event">
                    </csc-input-container>
                </div>
                <div class="row">
                    <csc-input-container class="col-6" label="Presenter" labelLocation="top">
                        <input class="csc-input" type="text" placeholder="Who is doing the presentation">
                    </csc-input-container>
                    <csc-input-container class="col-6" label="Location" labelLocation="top">
                        <input class="csc-input" type="text" placeholder="Where the event will be held">
                    </csc-input-container>
                </div>
                <div class="row">
                    <csc-input-container label="Date" class="col-6" labelLocation="top">
                        <input class="csc-input" type="text" placeholder="Date of the event">
                    </csc-input-container>
                    <csc-input-container label="Time" class="col-6" labelLocation="top">
                        <input class="csc-input" type="text" placeholder="Time of the event">
                    </csc-input-container>
                </div>
                <div class="row">
                    <csc-input-container label="Description" class="col-12" labelLocation="top">
                        <textarea class="csc-input" type="text" placeholder="Brief description of the event"></textarea>
                    </csc-input-container>
                </div>
                <div class="row">
                    <csc-input-container label="Image" class="col-6" labelLocation="top">
                        <csc-upload formControlName="resources"></csc-upload>
                    </csc-input-container>
                    <csc-input-container label="Resources" class="col-6" labelLocation="top">
                        <csc-upload formControlName="image"></csc-upload>
                    </csc-input-container>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" csc-button>Create Event</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
