@import 'src/variables.scss';
#csc-social-links {
  border-top: 1px solid #cccccc;
  .csc-social-desc {
    display: inline-block;
    text-decoration: none;
    color: black;
  }
  .csc-social-links-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .csc-social {
    display: flex;
    align-items: center;
    justify-content: center;

    .csc-img-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:last-child {
      margin-right: 0%;
    }
    .csc-social-desc {
      margin-left: 15px;
    }
  }
  @media #{$mobile} {
    .csc-social-desc {
      display: none;
    }
  }
  @media #{$tablet} {
    .csc-social-desc {
      display: none;
    }
  }
}

#csc-made-with-love {
  height: 80px;
  width: 100%;
  font-size: 14px;
  color: $text-white;
  background-color: $navy;
}

.csc-footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  &:first-child {
    margin-right: 10px;
  }
  a {
    color: $text-white;
    text-decoration: underline;
  }
}

.heart {
  color: $pink;
  margin-left: 2px;
  margin-right: 2px;
}
