<footer>
  <section id="csc-social-links" *ngIf="showSocialLinks">
    <div class="row">
      <div class="container">
        <div class="csc-social-links-container">
          <div class="csc-social" *ngFor="let link of socialIcons">
            <a [href]="link.href" class="csc-img-link">
              <csc-img
                [src]="link.src"
                [alt]="link.desc"
                [width]="imageSize"
                [height]="imageSize"
                [style.width.px]="imageSize"
                [style.height.px]="imageSize"
                [class]="link.desc === 'BUSU' ? 'busu-icon' : ''"
              ></csc-img>
            </a>
            <a [href]="link.href" class="csc-social-desc">{{ link.desc }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="csc-made-with-love">
    <div class="row">
      <div class="container">
        <div class="csc-footer-text">
          <div>Made with</div>
          <i class="material-icons heart">favorite</i>
          <a href="https://github.com/BrockCSC"
            >by the Brock Computer Science Club</a
          >
        </div>
      </div>
    </div>
  </section>
</footer>
