$width: 100%;

.row {
    position: relative;
    width: 100%;
}

.row [class^='col-'] {
    float: left; 
    padding: 0.5rem;
    min-height: 0.125rem;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@for $i from 1 through 12 {
    .col-#{$i}{
        width: $width;
    }
}

@media #{$desktop} {
    @for $i from 1 through 12 {
        .col-#{$i}{
            width: $width / (12 / $i);
        }
    }
}
