@import 'src/variables.scss';

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #F5F5F5;
}

thead {
    font-size: $subHeading;
    color: rgba(0, 0, 0, 0.75);
    background-color: darken($grey, 10%);
    border: 1px solid darken($grey, 15%);
}

th {
    text-align: left;
    padding: 10px;
}

td {
    padding: 10px;
}

tr {
    border: 1px solid darken($grey, 15%);
}

.csc-checkbox-col {
    text-align: center;
}

.csc-mat-icon {
    color: $maroon;
    text-align: center;
}

.csc-mat-icon:hover {
    cursor: pointer;
}

.csc-remove-th,
.csc-edit-th {
    width: 1px;
    padding: 0px 35px;
}