@use 'sass:color';
@use 'variables' as vars;

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f5f5f5;
}

thead {
  font-size: vars.$subHeading;
  color: rgba(0, 0, 0, 0.75);
  background-color: color.adjust(vars.$grey, $lightness: -10%);
  border: 1px solid color.adjust(vars.$grey, $lightness: -15%);
}

th {
  text-align: left;
  padding: 10px;
}

td {
  padding: 10px;
}

tr {
  border: 1px solid color.adjust(vars.$grey, $lightness: -15%);
}

.csc-checkbox-col {
  text-align: center;
}

.csc-mat-icon {
  color: vars.$maroon;
  text-align: center;
}

.csc-mat-icon:hover {
  cursor: pointer;
}

.csc-remove-th,
.csc-edit-th {
  width: 1px;
  padding: 0px 35px;
}
