@import 'src/variables.scss';
.csc-modal-header {
    background-color: $maroon;
    padding: 25px;
    min-height: 75px;
    i {
        color: $text-white;
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

.csc-modal-header-message {
    color: $text-white;
    font-size: $largeHeading;
}