@import 'src/variables.scss';
.csc-modal-header {
    background-color: $maroon;
    padding: 25px;
    min-height: 75px;
}

.csc-modal-header-message {
    color: $text-white;
    font-size: $largeHeading;
}