@use 'variables.scss' as vars;

.csc-modal-header {
  background-color: vars.$maroon;
  padding: 25px;
  min-height: 75px;
}

.csc-modal-header-message {
  color: vars.$text-white;
  font-size: vars.$largeHeading;
}
