@use 'variables.scss' as vars;

section {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;

  h1 {
    margin-top: 0.5rem;
  }
}

section:last-child {
  padding-bottom: 24px;
}

.odd {
  background-color: vars.$google-grey;
}

.right-col {
  @media #{vars.$desktop} {
    padding-left: 1rem;
  }
}

img {
  width: 100%;
  height: auto;
}

.page-header {
  img {
    height: 3rem;
    width: auto;
  }
  .header-row {
    display: flex;
    justify-content: center;
  }

  csc-event-card {
    padding-bottom: 0;
    padding-right: 0;
    @media #{vars.$mobile} {
      padding-left: 0;
    }

    @media #{vars.$tablet} {
      padding-left: 0;
    }
  }

  .img-wrapper {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  h1 {
    margin-bottom: 0;
    margin-top: 1.5rem;
  }

  h2 {
    margin-top: 1rem;
  }

  .header-wrap {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    grid-template-columns: 4rem auto;
    margin-bottom: 1rem;
  }
}

.csc-dsc {
  background-color: vars.$google-grey;
}
