@import 'src/variables.scss';

section {
  display: flex;
  background: white;
  border-bottom: 1px solid #eee;
}

.odd {
  background-color: $google-grey;
}

.right-col {
  padding-left: 1rem;
}

img {
  width: 100%;
  height: auto;
}
