@import 'src/variables.scss';
.csc-event-upload-image {
    max-width: 600px;
}

.csc-event-upload-resources {
    max-width: 600px;
}

.csc-event-add {
    text-align: right;
    margin: 40px 0px;
}

.csc-delete-th {
    width: 1px;
    padding: 0px 35px;
}

.csc-checkbox-col {
    text-align: center;
}

.csc-edit-th {
    width: 1px;
    padding: 0px 35px;
}

.csc-edit-icon{
    text-align: center;
    color: $maroon;
}
