<div class="container">
    <h1>Executive Management</h1>
    <div class="csc-exec-buttons">
        <div class="csc-exec-remove">
            <button csc-button [disabled]="checkedExecs.length === 0" (click)="removeModal.open()">
                Remove selected execs
            </button>
        </div>
        <div class="csc-exec-add">
            <button csc-button (click)="addModal.open()">Add new executive</button>
        </div>
    </div>
    <div class="row">
        <h2>Current Executives</h2>
        <table>
            <thead>
                <th class="csc-remove-th"></th>
                <th>Name</th>
                <th class="csc-edit-th">Edit</th>
            </thead>
            <tbody>
                <tr *ngFor="let exec of execs | async">
                    <td class="csc-checkbox-col">
                        <csc-checkbox>
                            <input type="checkbox" (click)="checked($event, exec)">
                        </csc-checkbox>
                    </td>
                    <td>{{ exec.name }}</td>
                    <td><i (click)="editModal.open(exec)" class="material-icons csc-mat-icon">edit</i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <h2>Previous Executives</h2>
        <table>
            <thead>
                <th class="csc-remove-th"></th>
                <th>Name</th>
                <th class="csc-edit-th">Edit</th>
            </thead>
            <tbody>
                <tr *ngFor="let exec of previousExecs | async">
                    <td class="csc-checkbox-col">
                        <csc-checkbox>
                            <input type="checkbox" (click)="checked($event, exec)">
                        </csc-checkbox>
                    </td>
                    <td>{{ exec.name }}</td>
                    <td><i (click)="editModal.open(exec)" class="material-icons csc-mat-icon">edit</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<csc-add-exec-modal #addModal></csc-add-exec-modal>
<csc-remove-exec-modal #removeModal [checkedExecs]="checkedExecs" (onDelete)="resetCheckedExecs()"></csc-remove-exec-modal>
<csc-edit-exec-modal #editModal></csc-edit-exec-modal>
