@use 'variables.scss' as vars;

.csc-admin-content {
  padding-bottom: 200px;
}

.csc-admin-router {
  background-color: vars.$light-grey;
  border: 1px solid vars.$dark-grey;
}

.csc-admin-route {
  display: inline-block;
  padding: 10px 15px;
  color: vars.$text-black;
  text-decoration: none;
  &:nth-child(n + 2) {
    margin-left: -1px;
  }
  &.active {
    background-color: vars.$maroon;
    color: vars.$text-white;
  }
}
