<csc-modal #modal>
    <csc-modal-header>Edit Food Item</csc-modal-header>
    <csc-modal-body>
        <div id="csc-admin-container">
            <div class="row">
                <div class="container">
                    <form [formGroup]="form">
                        <div class="row">
                            <csc-input-container class="col-12" label="Name" labelLocation="top">
                                <input class="csc-input" type="text" formControlName="name" placeholder="Food item name">
                            </csc-input-container>
                        </div>
                        <div class="row">
                                <csc-input-container label="Section" class="col-12" labelLocation="top">
                                    <select formControlName="section">
                                        <option value="Food">Food</option>
                                        <option value="Drink">Drink</option>
                                        <option value="Other">Other</option>
                                        <option value="Combo">Combo</option>
                                    </select>
                                </csc-input-container>
                        </div>
                        <div class="row">
                            <csc-input-container label="Price" class="col-12" labelLocation="top">
                                <input class="csc-input" type="number" ng-pattern="/^\d+$/" formControlName="price" placeholder="Price">
                            </csc-input-container>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </csc-modal-body>
    <csc-modal-footer>
        <button csc-button (click)="update()">Save Food Item</button>
    </csc-modal-footer>
</csc-modal>
