<div class="csc-signup container">
        <iframe id="no-target" name="no-target" style="display:none"></iframe>
        <form #signupForm [formGroup]="form" class="row csc-contact-form" [action]="googleForm.url" target="no-target">
            <h3 class="col-12 hide-mobile">Sign Up</h3>
            <csc-input-container class="col-6" label="Name" labelLocation="top">
                    <input [name]="googleForm.ids.name" formControlName="name" class="csc-input" type="text" placeholder="Jane Doe">
                    <span class="signup-error"  *ngIf="!form.controls.name.valid && (form.controls.name.touched || submitted)">Please enter your name</span>
                </csc-input-container>
            <csc-input-container class="col-6" label="Brock Student Id" labelLocation="top">
                <input [name]="googleForm.ids.student_id" formControlName="student_id" class="csc-input" type="text" placeholder="aa11bb">
                <span class="signup-error" *ngIf="!form.controls.student_id.valid && (form.controls.student_id.touched || submitted)">Please enter your Brock Student ID</span>
            </csc-input-container>
            <csc-input-container class="col-12" label="Gender" labelLocation="top">
                    <select [name]="googleForm.ids.gender" formControlName="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="N/A">Prefer not to say</option>
                    </select>
            </csc-input-container>
            <csc-input-container class="col-12" label="Preferred Email" labelLocation="top">
                    <input [name]="googleForm.ids.email" class="csc-input" formControlName="email" type="text" placeholder="janedoe@gmail.com">
                    <span class="signup-error" *ngIf="!form.controls.email.valid && (form.controls.email.touched || submitted)">Please enter your email</span>
            </csc-input-container>
            <csc-input-container class="col-6" label="Program at Brock" labelLocation="top">
                    <input [name]="googleForm.ids.program" class="csc-input" formControlName="program" type="text" placeholder="Computer Science">
            </csc-input-container>
            <csc-input-container class="col-6" label="Number of years as a previous member" labelLocation="top">
                    <input [name]="googleForm.ids.number_of_years_member" formControlName="number_of_years_member" class="csc-input" type="number" min="0" max="10" value="0">
            </csc-input-container>
            <csc-input-container class="col-12" label="Interests" labelLocation="top">
                    <textarea [name]="googleForm.ids.interests" formControlName="interests" placeholder="What are your interests in computer science?"></textarea>
            </csc-input-container>
            <div class="col-12">
                <a csc-button class="csc-contact-submit" (click)="onSubmit(form)" value="Send">Sign up</a>
            </div>
        </form>
</div>

