.signup-error {
  color: red;
}

.csc-signup {
  margin-bottom: 30px;
}

.complete-img {
  img {
    display: block;
    margin: 0 auto;
  }
}

.signup-complete {
  margin-top: 50px;
  text-align: center;
}
