@import 'src/variables.scss';
.csc-drop {
  position: relative;
  width: 100%;
  height: 200px;
  outline: 3px dashed $navy;
  outline-offset: -15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $navy;
  background-color: rgba($navy, 0.2);
  transition: outline-offset 0.25s;
}

.csc-drop.hover {
  background-color: #fff;
  outline-offset: -20px;
}

.csc-drop-desc {
  margin: 25px;
  text-align: center;
  text-transform: uppercase;
  i {
    font-size: 50px;
  }
  .csc-drop-text {
    display: none;
    @media #{$desktop} {
      display: inherit;
    }
  }
}

.csc-upload div {
  display: inline-block;
}

.csc-progress-bar {
  width: 150px;
}

.csc-file-remove {
  vertical-align: top;
  cursor: pointer;
  &.active {
    color: $maroon;
  }
}
