<div class="csc-upload" *ngFor="let upload of uploads">
    <div class="csc-progress-bar">
        <csc-progress-bar [progress]="upload.progress"></csc-progress-bar>
    </div>
    <div class="csc-file-remove" [class.active]="upload.$key != null" (click)="removeFile(upload.$key)">
        <i class="material-icons">clear</i>
    </div>
    <div class="csc-file-name">
        {{ upload.name }}
    </div>
</div>
<div class="csc-drop" [class.hover]="fileHover">
    <div class="csc-drop-border">
        <div class="csc-drop-desc">
            <i class="material-icons">cloud_upload</i>
            <div class="csc-drop-text">
                <h2>Select files or drag here</h2>
                <h3>// TODO: Add click to select</h3>
            </div>
        </div>
    </div>
</div>
