.contribute-button-container {
  display: flex;
  justify-content: flex-end;
}

.main-container {
  margin-bottom: 3rem;
}

::ng-deep .markdown-content table {
  display: block;
  max-width: 100%;
  overflow: auto;
}
