<div class="csc-team">
    <div class="row">
        <div class="container">
            <h3 class="csc-header">Current Executive Team</h3>
            <div class="csc-team-members">
                <div class="exec" *ngFor="let exec of execs">
                    <img class="exec-avatar" id="{{exec.id + '-id'}}" [src]="exec.avatarSrc"/>
                    <div class="exec-info">
                        <div class="exec-name">{{ exec.name }}</div>
                        <div class="exec-title">{{ exec.title }}</div>
                    </div>
                    <csc-tooltip forId="{{exec.id + '-id'}}">
                        <div class="tooltip-exec-name">{{ exec.name }}</div>
                        <p class="tooltip-exec-title">{{ exec.title }}</p>
                        <p class="tooltip-exec-desc">{{ exec.desc }}</p>
                    </csc-tooltip>
                </div>
            </div>
        </div>
    </div>
</div>
