<div class="csc-team">
  <div class="row">
    <div class="container">
      <h3 class="csc-header">Current Executive Team</h3>
      <div class="csc-team-members">
        <div class="exec-wrapper" *ngFor="let exec of execs | async">
          <div class="exec">
            <div class="exec-avatar" [id]="exec.$key + '-id'">
              <img
                class="exec-avatar-img"
                [src]="
                  exec.image ? exec.image.url : 'assets/exec-image-stub.png'
                "
                [alt]="exec.name"
              />
            </div>
            <csc-team-exec-info [exec]="exec"></csc-team-exec-info>
          </div>
        </div>
      </div>
      <h3 class="prev-team" (click)="flipShowPrevExecs()">
        Previous Executives
      </h3>
      <div [@showPrevExecsAnim]="prevDivState" class="csc-team-members">
        <div class="exec-wrapper" *ngFor="let prevExec of prevExecs | async">
          <div class="exec">
            <div class="exec-avatar" [id]="prevExec.$key + '-id'">
              <img
                class="exec-avatar-img"
                [id]="prevExec.$key + '-id'"
                [src]="
                  prevExec.image
                    ? prevExec.image.url
                    : 'assets/exec-image-stub.png'
                "
                [alt]="prevExec.name"
              />
            </div>
            <csc-team-exec-info [exec]="prevExec"></csc-team-exec-info>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
