@import 'src/variables.scss';

$exec-info-text-color: #515151;
$tooltip-exec-name-color: $text-white;
$tooltip-exec-desc-color: #a6a6a6;

.csc-team {
  margin: 20px;
}

.csc-team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.exec {
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  .exec-avatar {
    border-radius: 100%;
    width: 76px;
    height: 76px;
    max-width: 76px;
    max-height: 76px;
    border: 0.3px solid black;
    transition: border 100ms ease-in-out;

    &:hover {
      border: 1px solid $maroon;
      cursor: pointer;
    }
  }

  .exec-info {
    margin-left: 1rem;
    transition: opacity 200ms ease-in;

    .exec-name,
    .exec-title {
      font-size: 14px;
      color: $exec-info-text-color;
    }
  }
}

.tooltip-exec-name {
  color: $tooltip-exec-name-color;
}

.tooltip-exec-title {
  color: lighten($tooltip-exec-desc-color, 10%);
}

.tooltip-exec-desc {
  color: $tooltip-exec-desc-color;
}
