@import 'src/variables.scss';

$exec-info-text-color: black;
$tooltip-exec-name-color: $text-white;
$tooltip-exec-desc-color: #a6a6a6;

.csc-team {
  margin: 20px;
}

.csc-team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.prev-team {
  display: inline-block;
  position: relative;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  font-size: 1.125rem;
  padding: 0px 0px 5px;
  cursor: pointer;
  border-bottom: solid 1px black;
}

.prev-team::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: red;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}

.prev-team:hover::after {
  transform: scale(1, 1);
  cursor: pointer;
}

.exec {
  width: 100%;
  height: fit-content;
  align-items: center;

  .exec-info {
    transition: opacity 200ms ease-in;

    .exec-name {
      margin-top: 1rem;
      color: $exec-info-text-color;
      font-weight: bold;
      text-align: center;
    }

    .exec-title {
      font-size: $smallText;
      color: $text-grey;
      text-align: center;
    }

    .exec-disc {
      position: relative;
      margin-top: 0.5rem;
      color: $exec-info-text-color;
    }
  }
}

.exec-wrapper {
  display: flex;
  justify-content: center;
}

.exec-avatar {
  height: 50%;
  padding-top: 10%;
  overflow: hidden;
}

.exec-avatar-img {
  display: block;
  margin: auto;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 2px solid;
  border-color: #aa3b3b;
  background-color: #aa3b3b;
  transition: all 0.5s ease-in-out;
}

.tooltip-exec-name {
  color: $tooltip-exec-name-color;
}

.tooltip-exec-title {
  color: lighten($tooltip-exec-desc-color, 10%);
}

.tooltip-exec-desc {
  color: $tooltip-exec-desc-color;
}
