<div class="links-container">
  <div class="header">
    <h1>Our Links</h1>
    <p>Connect with us across platforms</p>
  </div>

  <div class="links-list">
    <button
      class="link-button"
      (click)="openLink('https://brockcsc.ca/events/-Oa1cJ_JZxT1FeYCp3uy')"
    >
      <img src="assets/icons/icpc.png" alt="ICPC Logo" class="icon" />
      <span>ICPC Qualifiers Registration</span>
    </button>
    <button
      class="link-button"
      (click)="openLink('https://discord.gg/qsctEK2')"
    >
      <img src="assets/icons/discord.svg" alt="Discord icon" class="icon" />
      <span>Join our Discord</span>
    </button>

    <button
      class="link-button"
      (click)="openLink('https://www.brockbusu.ca/organisation/8492/')"
    >
      <img
        src="assets/icons/busu.jpeg"
        alt="BUSU icon"
        class="icon rounded-icon"
      />
      <span>BUSU Club Page</span>
    </button>

    <button
      class="link-button"
      (click)="openLink('https://experiencebu.brocku.ca/organization/brockcsc')"
    >
      <span class="material-icons">school</span>
      <span>ExperienceBU Page</span>
    </button>

    <button
      class="link-button"
      (click)="openLink('https://instagram.com/brockcsc')"
    >
      <img src="assets/icons/instagram.svg" alt="Instagram icon" class="icon" />
      <span>Follow us on Instagram</span>
    </button>

    <button
      class="link-button"
      (click)="openLink('https://github.com/brockcsc')"
    >
      <img src="assets/icons/github.svg" alt="GitHub icon" class="icon" />
      <span>Check our GitHub</span>
    </button>

    <!--
    <button 
      class="link-button"
      (click)="openLink('/merch')"
    >
      <span class="material-icons">shopping_bag</span>
      <span>Shop Our Merch</span>
    </button>
    -->
  </div>
</div>
