<div class="links-container">
  <div class="header">
    <h1>Our Links</h1>
    <p>Connect with us across platforms</p>
  </div>

  <div class="links-list">
    <button
      class="link-button"
      (click)="openLink('https://discord.gg/zYbDBu5WPs')"
    >
      <img src="assets/icons/discord.svg" alt="Discord icon" class="icon" />
      <span>Join our Discord</span>
    </button>

    <button
      class="link-button"
      (click)="openLink('https://experiencebu.brocku.ca/organization/brockcsc')"
    >
      <span class="material-icons">school</span>
      <span>ExperienceBU Page</span>
    </button>

    <button
      class="link-button"
      (click)="openLink('https://instagram.com/brockcsc')"
    >
      <img src="assets/icons/instagram.svg" alt="Instagram icon" class="icon" />
      <span>Follow us on Instagram</span>
    </button>

    <button
      class="link-button"
      (click)="openLink('https://twitter.com/brockucsc')"
    >
      <img src="assets/icons/twitter.svg" alt="Twitter icon" class="icon" />
      <span>Follow us on Twitter</span>
    </button>

    <button
      class="link-button"
      (click)="openLink('https://github.com/brockcsc/brockcsc.github.io')"
    >
      <img src="assets/icons/github.svg" alt="GitHub icon" class="icon" />
      <span>Check our GitHub</span>
    </button>

    <button
      class="link-button"
      (click)="openLink('https://www.facebook.com/BrockCSC/')"
    >
      <img src="assets/icons/facebook.svg" alt="Facebook icon" class="icon" />
      <span>Follow us on Facebook</span>
    </button>

    <!--
    <button 
      class="link-button"
      (click)="openLink('/merch')"
    >
      <span class="material-icons">shopping_bag</span>
      <span>Shop Our Merch</span>
    </button>
    -->
  </div>
</div>
