@import 'src/variables.scss';

$exec-info-text-color: #515151;
$tooltip-exec-name-color: $text-white;
$tooltip-exec-desc-color: #a6a6a6;

// .csc-dsc {
//   margin: auto;
//   padding: 4rem;
// }

.row {
  border: 1px solid #eee;
}
section {
  position: relative;
  //z-index: 4;
  //display: flex;

  justify-content: center;
  align-items: center;
  background: white;
}

// section > .card-content > div {
//   display: flex;
// }
.text-container {
  text-align: center;
}

// img {
//   object-fit: contain;
//   max-width: 30rem;
//   max-height: 100%;
//   margin-left: auto;
//   margin-right: auto;
// }

// .spacer {
//   width: 10rem;
// }

// .spacefiller {
//   width: 350px;
// }

// .page-header {
//   height: 115%;
// }

.add-button {
  margin: 1rem;
  text-align: right;
}
.inline-buttons {
  display: flex;
  //margin: 1rem;
  float: right;
}
