<div class="csc-dsc">
  <div class="add-button">
    <button csc-button (click)="addModal.open()">
      Add new card
    </button>
  </div>
  <div
    class="row"
    *ngFor="let c of cards | async; let i = index"
    [attr.data-index]="i"
  >
    <section class="page-header">
      <div class="inline-buttons">
        <div class="edit-button">
          <button csc-button (click)="editModal.open(c)">
            Edit
          </button>
        </div>
        <div class="remove-button">
          <button csc-button (click)="removeModal.open(c)">
            Remove
          </button>
        </div>
      </div>
      <div class="card-content">
        <div *ngIf="i % 2 == 0; else elseBlock">
          <div class="text-container">
            <h1>{{ c.title }}</h1>
            <div [innerHTML]="c.text"></div>
          </div>

          <div class="spacer"></div>

          <img class="brock-dsc-logo" src="{{ c.img }}" alt="{{ c.imgAlt }}" />
        </div>
        <ng-template #elseBlock>
          <div>
            <img
              class="brock-dsc-logo"
              src="{{ c.img }}"
              alt="{{ c.imgAlt }}"
            />

            <div class="spacer"></div>

            <div class="text-container">
              <h1>{{ c.title }}</h1>
              <div [innerHTML]="c.text"></div>
            </div>
          </div>
        </ng-template>
      </div>
    </section>
  </div>
</div>

<csc-add-card-modal #addModal></csc-add-card-modal>

<csc-remove-card-modal #removeModal></csc-remove-card-modal>

<csc-edit-card-modal #editModal></csc-edit-card-modal>
