@use 'variables.scss' as vars;

#csc-about {
  background-color: vars.$light-grey;
}

#csc-about a {
  color: vars.$maroon;
  text-decoration: none;
}

.csc-about-desc {
  @media #{vars.$desktop} {
    width: 70%;
  }
}

.csc-team {
  margin-top: 35px;
  overflow: auto;
}

.csc-team csc-img {
  width: 100%;
  float: none;
  margin-left: 0px;
  margin-top: 15px;

  @media #{vars.$desktop} {
    margin-left: 25px;
    width: 60%;
    float: right;
  }
}
