$offset: 85px;
$row-height: 50px;
#csc-events {
    background-color: $maroon;
    color: $text-white;
    margin-top: -$offset;
    font-size: 16px;
    .container {
        margin-top: $offset;
    }
    .row {
        padding: 10px 0px;
    }
    .col {
        display: flex;
        align-items: center;
    }
}

.csc-events-content {
    i {
        font-size: $row-height;
        vertical-align: middle;
        margin-right: 20px;
    }
}

.csc-icon-title {
    font-size: 16px;
    text-transform: uppercase;
}

.col-left {
    width: 100%;
    min-height: $row-height;
}

.col-right {
    width: 100%;
    min-height: $row-height;
}

@media #{$tablet} {
    .col-left {
        width: 40%;
    }
    .col-right {
        width: 60%;
    }
}
