$offset: 85px;
$row-height: 50px;

#csc-events {
    background-color: $maroon;
    color: $text-white;
    margin-top: -$offset;

    .container {
        margin-top: $offset;
    }

    .row {
        padding: 10px 0px;
    }
    .col {
        display: flex;
        align-items: center;
    }
}
