#csc-join {
    background-color: $light-grey;
    .csc-join-container {
        text-align: center;
    }
    .csc-sign-up-button {
        margin-top: 25px;
        margin-bottom: 50px;
    }
}
