@use 'variables.scss' as vars;

#csc-join {
  background-color: vars.$light-grey;
  .csc-join-container {
    text-align: center;
  }
  .csc-sign-up-button {
    margin-top: 25px;
    margin-bottom: 50px;
  }
}
