#csc-services{
    padding-top: 25px;
    background-color: $navy;
    color: $text-white;
    font-size: 16px;
    .row {
        padding: 10px 0px;
    }
    .col {
        display: flex;
        align-items: center;
    }

    a {
        color: $text-white;
        text-decoration: none;
    }
}
