@use 'variables.scss' as vars;

#csc-services {
  padding-top: 25px;
  background-color: vars.$maroon;
  color: vars.$text-white;
  font-size: 16px;
  .row {
    padding: 10px 0px;
  }
  .col {
    display: flex;
    align-items: center;
  }

  a {
    color: vars.$text-white;
    text-decoration: none;
  }
}
