#csc-social-links {
    border-top: 1px solid #CCCCCC;
    .csc-social-desc {
        display: inline-block;
    }
    .csc-social-links-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .csc-social {
        display: flex;
        align-items: center;
        margin-right: 40px;
        &:last-child {
            margin-right: 0%;
        }
        img {
            height: 35px;
            width: 35px;
            margin-right: 15px;
        }
    }
    @media #{$mobile} {
        .csc-social-desc {
            display: none;
        }
    }
    @media #{$desktop} {
        .csc-social {
            margin-right: 20%;
        }
    }
}
