// Global styles
@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 95%;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}