// Colours
$maroon: #AA3B3B;
$csc-maroon: #AA3B3B;
$navy: #4F546C;
$grey: #F5F5F5;
$green: #417505;
$light-grey: #F8F8F8;
$dark-grey: #9E9E9E;
$pink: #F0818F;


// Font colours
$text-white: rgba(255, 255, 255, 0.90);
$text-black: rgba(0, 0, 0, 0.90);

// Font sizes
$extraLargeHeading: 2.25rem;
$largeHeading: 1.5rem;
$subHeading: 1.125rem;
$smallText: 0.875rem;

// Transition variables
$ease-in-out-curve-function: cubic-bezier(0.35, 0, 0.25, 1) !default;

// Media queries
$mobile: "(max-width: 600px)";
$tablet: "(min-width: 601px) and (max-width: 992px)";
$desktop: "(min-width: 993px)";
