@use 'variables.scss' as vars;

$height: 300px;
$border: 1px solid vars.$dark-grey;

.csc-event {
  margin-top: 30px;
}

.csc-event-header {
  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .csc-header {
    margin-bottom: 10px;
    @media #{vars.$mobile} {
      margin-bottom: 15px;
    }
  }
}

.csc-event-presenter {
  color: vars.$dark-grey;
}

.csc-event-signup {
  width: 100%;
  margin-top: 25px;
}

.csc-event-header {
  border: $border;
}

.csc-event-image {
  border-bottom: $border;
  height: $height;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
  overflow: hidden;

  .image-bg {
    position: absolute;
    width: 110%;
    height: 110%;
    margin: -3px;
    left: 0;
    right: 0;
    top: 0;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    filter: blur(3px) brightness(80%);
  }

  .image-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    object-fit: contain;
    object-position: center;
  }
}

.csc-event-title {
  padding-left: 10px;
  padding-right: 10px;
  height: $height;
  border-bottom: $border;
  @media #{vars.$desktop} {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media #{vars.$mobile} {
    height: auto !important;
  }
}

.wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  > h2 {
    margin-top: 0px;
  }

  @media #{vars.$mobile} {
    top: 0%;
    transform: translateY(0%);
  }
}

.csc-event-resource a {
  color: vars.$maroon;
}

.csc-event-description,
.csc-event-location,
.csc-event-resource {
  @media #{vars.$desktop} {
    padding: 25px;
  }
  @media #{vars.$tablet} {
    padding: 25px;
  }
}

.tentative-container {
  padding: 12px 25px;
  border: $border;
  border-bottom: none;
  display: flex;
  align-items: center;
  i {
    padding-right: 25px;
  }
}
