@import 'src/variables.scss';

.csc-link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.csc-link-line {
    content: '';
    margin-top: 3px;
    color: red;
    display: block;
    width: 0;
    height: 1px;
    transition: width .3s;
}
