<div>
  <div id="promo">
    <video id="video" loop muted autoplay (click)="toggleMute()">
      <source src="app/../assets/merch/2024/merch.mp4" />
    </video>
    <button (click)="buynow(grid)" clickable>Buy Today!</button>
  </div>
  <div #grid class="grid" id="grid">
    <div class="product-section">
      <div class="product-container">
        <div class="product-image">
          <img id="image" src="app/../assets/merch/2024/black-m.png" />
        </div>
        <div class="product-details">
          <h2>CSC 2024 Hoodie</h2>
          <p class="price">$45.00</p>
          <div class="color-selector">
            <csc-input-container
              class="col-12"
              label="Color"
              labelLocation="top"
            >
              <select (change)="changeColor($event.target.value)">
                <option value="Black">Black</option>
                <option value="White">White</option>
              </select>
            </csc-input-container>
          </div>
          <div class="order-button-container">
            <button (click)="onStripeClick()" class="order-button">
              Order Now
            </button>
          </div>
          <div class="legacy-button-container">
            <a href="/merch" class="legacy-button">View 2025 Merch</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
